<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dobbelsteenopdracht Vue</title>
</head>
<body>
    <div id="root">
        <button @click="randomNumbers">Throw!!</button>
        <button @click="resetThrows">Reset</button>
            <div >
            <table>
                <tr>
                    <td>
                        Getal
                    </td>
                    <td>
                        Aantal
                    </td>
                </tr>
                <tr v-for="(value, number) in throws">
                    <td>
                        {{number}}
                    </td>
                    <td >
                        {{value}}
                        <!-- <span v-if="throws.hasOwnProperty(1)" :key="1" :value="throws.value">{{throws[1]}}</span> 
                        <span v-else>0</span> -->
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        2
                    </td>
                    <td >
                        <span v-if="throws.hasOwnProperty(2)" :key="2" :value="throws.value">{{throws[2]}}</span> 
                        <span v-else>0</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td >
                        <span v-if="throws.hasOwnProperty(3)" :key="3" :value="throws.value">{{throws[3]}}</span> 
                        <span v-else>0</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td >
                        <span v-if="throws.hasOwnProperty(4)" :key="4" :value="throws.value">{{throws[4]}}</span> 
                        <span v-else>0</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td >
                        <span v-if="throws.hasOwnProperty(5)" :key="5" :value="throws.value">{{throws[5]}}</span> 
                        <span v-else>0</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td >
                        <span v-if="throws.hasOwnProperty(6)" :key="6" :value="throws.value">{{throws[6]}}</span> 
                        <span v-else>0</span>
                    </td>
                </tr> -->

        </table>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="main.js"></script>
</html>